<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About me</title>
  <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
  <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
</head>

<body>
<a href="/visitor"><img class="log" src="{{url_for('static',filename='log.png')}}"/></a>
  <section>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img src="{{url_for('static',filename='eu.jpg')}}" alt="">
        </div>
        <div class="contentBx">
          <div>
            <h2>About me</h2>
            <p><br />My name is Brisan Alexandru-Adrian. I'm 21 years old and passionate about cars. I am a friendly and open person who can address a lot of topics. <br /></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img src="{{url_for('static',filename='eu2.jpg')}}" alt="">
        </div>
        <div class="contentBx">
          <div>
            <h2>About experience</h2>
            <p><br />I am a 3rd year student at UPT. My favorite subjects are oop and algorithm subjects.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img src="{{url_for('static',filename='eu3.png')}}" alt="">
        </div>
        <div class="contentBx">
          <div>
            <h2>Hobbies</h2>
            <p><br />In my spare time I like to go jogging and play video games.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img src="{{url_for('static',filename='eu4.jpg')}}" alt="">
        </div>
        <div class="contentBx">
          <div>
            <h2>Video Games</h2>
            <p><br />My favorite video games are God Of War 3 , cs:go , Battefiled 3 , League of legends.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="imgBx">
          <img src="{{url_for('static',filename='eu5.jpg')}}" alt="">
        </div>
        <div class="contentBx">
          <div>
            <h2>Favorite cars</h2>
            <p><br />The few dreams cars of mine are Nissan gtr , Toyota supra and audi r8. I also like the rest of the sport cars so I can say driving is a passion for me.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
