<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='formule.css')}}">
  <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
  <title>Manage</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/general">Home <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
  </header>
  <form class="form-inline" action="/search" method="GET">
  </form>

  <br>
  <br>
  <div class="container float-left">
    <div class="row">
      <div class="col-lg-4">
        {% if pagename == 'admin' %}
        <form action="/admin" enctype="multipart/form-data" method="POST" class="form-group">
          {% endif %}
          {% if pagename == 'updateAdmin' %}
          <form action="/update/{{user.id}}" method="POST" class="form-group" enctype="multipart/form-data">
            {% endif %}
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name" value={{user.name}}>
            </div>
            <div class="form-group">
              <input type="text" name="owned" class="form-control" placeholder="Owned" value={{user.owned}}>
            </div>
            <div class="form-group">
              <input type="text" name="drivers" class="form-control" placeholder="Drivers" value={{user.drivers}}>
            </div>
            <div class="form-group">
              <input type="text" name="year" class="form-control" placeholder="Year" value={{user.year}}>
            </div>
            <div class="form-group">
              <div class="container">
                {{ckeditor.create()}}
              </div>
            </div>

            <div class="form-group">
              <input type="file" id="file" name="file" accept="image/*"/>
            </div>
            <button type="submit" class="btn btn-block btn-dark">Submit</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
              </button>
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </form>
      </div>
      <div class="col-lg-8 ">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Owned by</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Drivers</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Year</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Image</th>
            <th></th>
            <th></th>

            <th>Delete</th>
            <th></th>
            <th></th>

            <th>Update</th>
          </thead>
          <tbody>
            {% for i in users %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.owned}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{i.drivers}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{i.year}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td><img id="im" class="imag" src="/static/{{i.cale}}"></td>
              <td></td>
              <td></td>


              <td>
                <a href="/delete/{{i.id}}" class="btn btn-sm btn-dark">Delete</a>
              </td>
              <td></td>
              <td></td>

              <td>
                <a href="/update/{{i.id}}" class="btn btn-sm btn-dark">Update</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="{{url_for('static',filename='ckeditor/ckeditor.js')}}"></script>
  <script>
    CKEDITOR.replace('text');
  </script>
  <script>
    var data = CKEDITOR.instances.editor1.getData();
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
